<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />-->

    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>

    <!--<link href="/css/guru.css" rel="stylesheet" media="screen" />-->

</head>

<body>

<div th:replace="fragments/header :: div">
    <!--Header Content Will Be Merged Here -->
</div>


<div id="content" layout:fragment="content">
    <!--Page Content Will Be Merged Here -->
</div>

<div th:replace="fragments/footer :: div">
    <!--Footer Content Will Be Merged Here -->
</div>

</body>
</html>
