<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Hotel Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: div">
    <!--Header Content Will Be Merged Here -->
</div>

<div id="content" layout:fragment="content">
    <!--Page Content Will Be Merged Here -->
</div>

<div th:replace="fragments/footer :: div">
    <!--Footer Content Will Be Merged Here -->
</div>

</body>
</html>
